:root {
	--color-primary-bg: #04aabd;
	--color-primary-fg: #fff;

	--color-success-bg: #1ac13c;
	--color-success-fg: #fff;

	--color-failure-bg: #df1c1c;
	--color-failure-fg: #fff;

	--color-grey-dk: #666666;
	--color-grey-md: #aaaaaa;
	--color-grey-lt: #dedede;
}

* {
	box-sizing: border-box;
}

body {
	font-family: Arial;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.hide {
	display: none !important;
}

.success {
	background-color: var(--color-success-bg);
	color: var(--color-success-fg);
}

.failure {
	background-color: var(--color-failure-bg);
	color: var(--color-failure-fg);
}

header {
	padding: 40px;
	text-align: center;
	background: var(--color-primary-bg);
	color: var(--color-primary-fg);
	border-bottom: 30px;
}

main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

section {
	flex: 0 auto;
	padding: 8px;
	margin-top: 50px;
	background-color: white;
	border-radius: 8px;
}

.scoreboard {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: var(--color-grey-md);
	border: 1px solid #eceff1;
	border-radius: 8px;
	box-shadow: var(--color-grey-md) 0 1px 2px 0,
		var(--color-grey-dk) 0 2px 4px 3px;
	padding: 20px;
}

.scoreboard__highscores__info {
	display: flex;
}

.card {
	background-color: var(--color-primary-bg);
	border-radius: 8px;
	box-shadow: var(--color-grey-md) 0 1px 2px 0,
		var(--color-grey-dk) 0 2px 4px 3px;
	margin: 60px;
	padding: 20px;
	display: block;
}

#card2 {
	background-color: var(--color-primary-bg);
	border-radius: 8px;
	box-shadow: var(--color-grey-md) 0 1px 2px 0,
		var(--color-grey-dk) 0 2px 4px 3px;
	display: block;
	width: 50%;
}

.scoreboard__back {
	height: auto;
	align-items: center;
}

.wrapper {
	display: flex;
}

.questions {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.questions__currentQuestion {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 150px;
}

.questions__result {
	display: flex;
	width: 100%;
	height: 40px;
	padding: 32px;
	align-items: center;
}

.questions__choices {
	font-size: 70px;
}

.controls {
	display: flex;
	width: auto;
	align-items: center;
}

.questions__timer {
	font-size: 25px;
}

@media screen and (max-width: 1183px) {
	main {
		flex-direction: column;
	}

	section {
		background-color: white;
		margin: 20px auto;
		width: 92vw;
	}
}

@media screen and (max-width: 504px) {
	.timer {
		height: 200px;
	}
}
