:root {
	--color-primary-bg: #;
	--color-primary-fg: #04aabd;

	--color-success-bg: #1ac13c;
	--color-success-fg: #fff;

	--color-failure-bg: #df1c1c;
	--color-failure-fg: #fff;

	--color-grey-dk: #666666;
	--color-grey-md: #aaaaaa;
	--color-grey-lt: #dedede;
}

* {
	box-sizing: border-box;
}

body {
	font-family: Arial;
	margin: 25px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.hide {
	display: none !important;
}

.success {
	background-color: var(--color-success-bg);
	color: var(--color-success-fg);
}

.failure {
	background-color: var(--color-failure-bg);
	color: var(--color-failure-fg);
}
